#landing {
    background-image: url(image/pexels-tetyana-kovyrina-16944644.jpg)
    
}

.img-fluid:hover {
    transform: scale(1.5);
    transition: transform 0.2s ease-in-out;
}

.my-button {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    margin: 20px; 